{% extends 'base.html' %}
  {% block subContent %}
    {% with msgs = get_flashed_messages(with_categories=True) %}
      {% if msgs %}
        {% for cat,msg in msgs %}
              <h1 class="alert alert-{{cat}}">{{msg}}</h1>
        {% endfor %}
      {% endif %}
    {% endwith %}

        <h1>My Blogs</h1>
        <h3> This is a sample website for posting blogs developed using Python flask.</h3>
        <br>
        <div class="jumbotron">
            {% if session.login %}
                <h2>Blogs</h2>
                <br>
                <h3>This is to view Blogs created by {{session['firstName']}} {{session['lastName']}}</h3>
                <br>
            {% else %}
                <h2>Login to view blogs</h2>
            {% endif %}
        </div>

  {% endblock %}
